<div class="container">
	<div id="calendar">
	</div>
</div>
<div id="controls">
	<div class="btn-group">
		<button id="zoomOut" class="btn btn-large"><i class="icon-zoom-out"></i> Zoom Out</button>
		<button id="zoomIn" class="btn btn-large"><i class="icon-zoom-in"></i> Zoom In</button>
	</div>
</div>